input/schemas/cdisc-mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- W3C Schema generated by XMLSpy v2020 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.w3.org/TR/REC-html40">
  <xs:element name="mappings" type="Mapping"/>
  <xs:complexType name="Mapping">
    <xs:sequence>
      <xs:element name="domain" type="Domain" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Domain">
    <xs:sequence>
      <xs:element name="element" type="Element" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="code" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:NMTOKEN">
          <xs:pattern value="[A-Z]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="name" type="NonEmptyString" use="required"/>
  </xs:complexType>
  <xs:complexType name="Element">
    <xs:sequence>
      <xs:element name="cdisc" type="CDISCElement" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element name="mapping" type="FHIRMapping" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="NonEmptyString" use="required"/>
  </xs:complexType>
  <xs:complexType name="CDISCElement">
    <xs:sequence>
      <xs:element ref="description" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="spec" type="SpecType" use="required"/>
    <xs:attribute name="label" type="CDISCName" use="optional"/>
  </xs:complexType>
  <xs:element name="description">
    <xs:complexType mixed="true"/>
  </xs:element>
  <xs:complexType name="FHIRMapping">
    <xs:attribute name="element" type="FHIRElement"/>
    <xs:attribute name="path" type="FHIRPath"/>
  </xs:complexType>
  <xs:simpleType name="NonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FHIRElement">
    <xs:restriction base="NonEmptyString">
      <xs:pattern value="[A-Z][a-zA-Z]+(\.[a-z][a-zA-Z]+)*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FHIRPath">
    <xs:restriction base="NonEmptyString">
      <xs:pattern value="[A-Z][a-zA-Z]+(\.[a-z][a-zA-Z()=]+)*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CDISCName">
    <xs:restriction base="NonEmptyString">
      <xs:pattern value="(/GTP(/[A-Z][A-Za-z]+)*(/@[A-Z][A-Za-z]+)?)|([A-Z][A-Z\.]+)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SpecType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CDASH"/>
      <xs:enumeration value="LAB"/>
      <xs:enumeration value="SDTM"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
